:root {
    --Btn1: rgb(255, 255, 255);
    --Btn1Hover: rgb(209, 209, 209);
    --Btn2: rgb(49, 49, 49);
    --Btn2Hover: rgb(0, 0, 0);
    --lightText: #797979;
}

.workout-modal {
    padding: 20px 10px;
    z-index: 1000;
}

.workout-modal .separator {
    padding: 32px 0px;
    width: 100%;
}

.workout-modal .border {
    border: 1px solid var(--lightText);
}

.workout-modal .icon {
    width: 12px;
    height: 12px;
    display: block;
}

.workout-modal .btn1 {
    font-size: medium;
    color:black;
    padding: 12px 24px;
    background-color: var(--Btn1);
    border-style: solid;
    border-radius: 10px;
    border: 1px solid var(--lightText);
    &:hover {
        background-color: var(--Btn1Hover);
    }
}

.workout-modal .btn2 {
    font-size: medium;
    color:white;
    padding: 12px 24px;
    background-color: var(--Btn2);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 2px 2px lightgray;
    &:hover {
        background-color: var(--Btn2Hover);
    }
}

.workout-modal .btn3 {
    font-size: medium;
    color:white;
    padding: 1px 4px;
    position: absolute;
    right: 10px;
    background-color: var(--Btn2);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 2px 2px lightgray;
    &:hover {
        background-color: var(--Btn2Hover);
    }
}

.workout-modal .btn4 {
    font-size: medium;
    color:white;
    padding: 1px 4px;
    position: absolute;
    right: 20px;
    background-color: var(--Btn2);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 2px 2px lightgray;
    &:hover {
        background-color: var(--Btn2Hover);
    }
}


.workout-modal .close-btn {
    max-width: 48;
}

.workout-modal .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.workout-modal .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.workout-modal .container {
    padding: 8px 16px;
    border-radius: 5px;
    border-style: solid;
}

.workout-modal .pop-up-info {
    padding-bottom: 8px;
}

.workout-modal .no-bullets {
    list-style-type: none;
}

.workout-modal .pop-up-info h1 {
    padding: 0px 0px;
    font-size: 32px;
    font-weight: bold;
}

.workout-modal .pop-up-info p {
    padding: 8px 0px;
    font-size: small;
    font-weight: normal;
    color: var(--lightText);
}


.workout-modal .workout-type h1 {
    padding: 2px 0px;
    font-size: medium;
    font-weight: normal;
}

.workout-modal .workout-type select {
    padding: 8px 16px;
    box-sizing: border-box;
    font-size: small;
    color: var(--lightText);
    font-weight: normal;
    border-style: solid;
    border-radius: 10px;
    border: 1px solid var(--lightText);
    width: 100%;
}

.workout-modal .input-section input {
    padding: 8px 16px;
    margin: 2px 0px;
    box-sizing: border-box;
    font-size: small;
    color: var(--lightText);
    font-weight: normal;
    border-style: solid;
    border-radius: 10px;
    border: 1px solid var(--lightText);
    width: 100%;
}

.workout-modal .input-section input:focus {
    outline: none;
    border: 2px solid var(--lightText);
}

.workout-modal .add-exercise {
    padding: 32px 0px;
}

.workout-modal .exercise-card {
    padding: 4px 0px;
}

.workout-modal .clickable-card:hover {
    background-color: var(--Btn1Hover);
}