@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";


.react-icons {
  vertical-align: middle;
}

html {
  font-family: "DM Sans", serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #f0f0f0;
  --button-text: #000000;
  --button-hover: #cecece;
}

[data-theme="dark"] {
  --bg-color: #1a202c;
  --text-color: #ffffff;
  --button-bg: #2d3748;
  --button-text: #ffffff;
  --button-hover: #4a5568;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
button { 
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
